
body {
  background-color: #414a4c;
  color: #ffffff;
}

a {
  color: #ff9f4c !important;
}

a.visited,a.hover {
  color: #FF851E !important;
}

.card-header {
  background-color: #3b444b !important;
}

.card {
  background-color: #353839 !important;
}

.popover-header {
  background-color: #3b444b !important;
  font-weight: bold;
}

.popover {
    background-color: #353839;
}

.popover-body {
    color: #ffffff;
}

.modal-header {
  background-color: #3b444b !important;
}

.modal-content {
    background-color: #414a4c;
}


.btn-primary {
  background-color: #3b444b !important;
  border-color: #aaaaaa !important;
}

.dropdown-menu {
  background-color: #3b444b !important;
  border-color: #aaaaaa !important;
}

.dropdown-item:hover {
  background-color: #333333 !important;
}

pre {
  background-color: #3b444b !important;
  padding: 0.5em;
  border: solid 1px  #aaaaaa;
  border-radius: 0.5em;
}

code {
   color: #ff99cc  !important;
}

thead,tfoot {
  background-color: #333333 !important;
}

table {
  border: solid 1px  #aaaaaa;
  border-collapse: collapse;
}

td, th {
  border: solid 1px  #aaaaaa;
  padding: 0.5em;
}

hr {
  color: #eeeeee !important;
}

.badge {
  font-size: 90% !important;
}

/* .navbar .nav > li {
  z-index: 1001;
} */

/* .noborder {
  border: none !important;
}

.noborder td, .noborder th {
  border: none !important;
} */
