body {
  padding-top: 64px;
}

.hidden {
  display: none;
}

.container {
  padding-left: 1em !important;
  padding-right: 1em !important;
  width: 99%% !important;
  margin-left: 0.1em !important;
  margin-right: 0.1em !important;
  max-width: 99% !important;
}

.tracker {
 display: flex;
 flex-direction: row;
 background-color: #414a4c;
 width:100%;
 font-size: 0.8em;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 color: #ffffff;
 margin-bottom: 0.5em;
 font-style: italic !important;
 border-bottom: solid 1px #aaaaaa !important;
 z-index: 100;
 position: fixed;
 top: 56px;
}

.error {
  color: #ffb3b3;
}

.CodeMirror-selectedtext {
  color:black !important;
  background-color: #cccccc !important;
}


.CodeMirror {
  border: 1px solid #333333;
  font-family: Arial, monospace;
  font-size: 17px;
}

blockquote {
  background:#333333;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
  color: #edcf5a;
}
blockquote:before {
  color:#ccc;
  /* content:open-quote; */
  font-size:4em;
  line-height:.1em;
  margin-right:.25em;
  vertical-align:-.4em;
}

blockquote p {
  display:inline;
}
