  <div class="container" style="display: flex; flex-direction: column;align-items: left; font-size: 0.9em; ">
    <table class="table table-striped" style="border: none !important;">
      {{ range .medialist}}
      <tr>
        <td style="border: none !important;">
          <i class="{{.Icon}}"></i> &nbsp;
          {{ if .IsDir }}
          <a href="#" onclick="reloadMedia('{{.Path}}')"><b>{{.Name}}</b></a>
          {{ else }}
          {{.Name}}
          {{ end }}
        </td>
        <td style="border: none !important;">
          <a href="#" onclick="insertString('[{{.Name}}](media://{{.Path}})');return false;" data-dismiss="modal"><i class="fas fa-external-link-alt"></i></a>
        </td>
        <td style="border: none !important;">
          <a href="#" onclick="insertString('![{{.Name}}](media://{{.Path}})');return false;" data-dismiss="modal"><i class="fas fa-image"></i></a>
        </td>
        <td style="border: none !important;">
          <a href="#" onclick="insertString('&lt;thumbnail src=&quot;{{.Path}}&quot; &gt;');return false;" data-dismiss="modal"><i class="fas fa-compress-arrows-alt"></i></a>
        </td>
      </tr>
      {{ end }}
    </table>
    {{ if .hasback}}
    <div><a href="" onclick="reloadMedia('{{.backlink}}');return false;" class="btn btn-primary" style="margin-left:0.5em"><i class="fas fa-level-up-alt"></i></a></div>
    {{ end }}
  </div>