<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/gokuwiki.css" rel="stylesheet">

</head>

<body style="font-size: {{.base_font_size}}px">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gokuwiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:2em;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pagelist"><i class="fas fa-list"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medialist/_"><i class="fas fa-file"></i> Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagecreo"> <i class="fas fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagesearch"> <i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="display: flex; flex-direction: column;align-items: left;">
    <!-- content -->
    <div style="flex-direction: row;display: flex;">
      <h5 style="flex:1"> {{.page_path}} </h5>
      {{ if .hasback}}
      <div><a href="/medialist/{{.backlink}}" class="btn btn-primary" style="margin-left:0.5em"><i class="fas fa-reply"></i></a></div>
      {{ end }}
      <div>
        <a href="#" class="btn btn-primary" style="margin-left:0.5em" data-toggle="modal" data-target="#addFolderModal">
          <i class="fas fa-folder-open"></i> <i class="fas fa-plus"></i>
        </a>
      </div>
      <div><a href="#" data-toggle="modal" data-target="#uploadModal" class="btn btn-primary" style="margin-left:0.5em">
          <i class="fas fa-upload"></i> Upload</a></div>
    </div>
    <table class="table table-striped" style="border: none !important;margin-top:1em;">
      {{ range .medialist}}
      <tr>
        <td style="border: none !important;">
          <i class="{{.Icon}}"></i> &nbsp;
          {{ if .IsDir }}
          <a href="/medialist/{{.Path}}"><b>{{.Name}}</b></a>
          {{ else }}
          {{.Name}}
          {{ end }}
        </td>
        <td style="border: none !important;width:10%;">
          {{ if not .IsDir }}
          {{.Size}} KB
          {{ end }}
        </td>
        <td style="border: none !important;width:48px;">
          <a href="#" data-toggle="modal" data-target="#delModal" data-msg="{{.Name}}"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {{ end }}
    </table>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- MODALS -->
  <!-- ADD FOLDER -->
  <div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="/media-add-folder" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addFolderModalLabel">Add folder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="pagepath" value="{{.page_path}}" />
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Folder name:</label>
              <input type="text" class="form-control" id="foldername" name="foldername" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- DELETE ITEM -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="/media-delete" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="pagepath" value="{{.page_path}}" />
            <input type="hidden" name="filename" value="" id="filename" />
            <div>
              Please confirm deletion of <code><b><span id="msg"></span></b></code>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- UPLOAD ITEM -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="/media-upload" method="POST" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="pagepath" value="{{.page_path}}" />
              <input type="file" name="filename" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    $('#delModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var data = button.data('msg');
      console.log(data);
      var modal = $(this);
      modal.find('#msg').text(data);
      modal.find('#filename').val(data);
    })
  </script>
</body>

</html>