<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/gokuwiki.css" rel="stylesheet">
  <link href="/css/codemirror.css" rel="stylesheet">
  <link href="/css/monokai.css" rel="stylesheet">

</head>

<body style="font-size: {{.base_font_size}}px">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gokuwiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:2em;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pagelist"><i class="fas fa-list"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medialist/_"><i class="fas fa-file"></i> Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagecreo"> <i class="fas fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagesearch"> <i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="display: flex; flex-direction: column;align-items: left;">
    <!-- content -->
    <div class="tracker fixed-top" style="width: 100%">
      <div style="flex: 1;align-self:center;">
        Editing <b>{{.page_path}}</b>
      </div>
      <!-- <div class="button-group">
        <a class="nav-link dropdown-toggle" href="#" id="fontDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-font"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="fontDropdown">
          <a href="" class="dropdown-item" onclick="outlineString('**','**');return false;"><i class="fas fa-bold"></i> Bold</a>
          <a href="" class="dropdown-item" onclick="outlineString('_','_');return false;"><i class="fas fa-italic"></i> Italic</a>
          <a href="" class="dropdown-item" onclick="outlineString('~~','~~');return false;"><i class="fas fa-strikethrough"></i> Strikethrough</a>
        </div>
      </div> -->
      <div class="button-group">
        <a class="nav-link dropdown-toggle" href="#" id="tocDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-link"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="tocDropdown">
          <a href="#" class="dropdown-item" data-toggle="modal" data-target="#pagelinkModal">Page link</a>
          <a href="#" class="dropdown-item" data-toggle="modal" data-target="#medialinkModal">Media link</a>
        </div>
      </div>
      <div class="button-group">
        <a class="nav-link dropdown-toggle" href="#" id="tocDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-code"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="tocDropdown">
          {{ range .snippets}}
          <a href="" class="dropdown-item" onclick="insertString('{{.Code}}');return false;">{{.Name}}</a>
          {{ end }}
        </div>
      </div>
    </div>

    <form action="/edit-save" method="POST" style="flex:1;margin-top:3em;">
      <input type="hidden" name="pagepath" value="{{.page_path}}" />
      <div>
        <textarea class="form-control" id="editor" name="editor" rows="18" >{{.content}}</textarea>
      </div>
      <p></p>
      <div style="flex:1;display: flex; flex-direction: row;justify-content: space-between;">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="/page/{{.page_path}}" class="btn btn-primary">Cancel</a>
      </div>
    </form>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- MODALS -->
  <!-- PAGE LINK -->
  <div class="modal fade" id="pagelinkModal" tabindex="-1" role="dialog" aria-labelledby="pagelinkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pagelinkModalLabel">Select page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="pagelinkData">
        </div>
      </div>
    </div>
  </div>

  <!-- MEDIA LINK -->
  <div class="modal fade" id="medialinkModal" tabindex="-1" role="dialog" aria-labelledby="medialinkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="medialinkModalLabel">Select media</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="medialinkData">
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/codemirror/codemirror.js"></script>
  <script src="/vendor/codemirror/edit/matchbrackets.js"></script>
  <script src="/vendor/codemirror/edit/continuelist.js"></script>
  <script src="/vendor/codemirror/xml.js"></script>
  <script src="/vendor/codemirror/markdown.js"></script>
  <script src="/vendor/codemirror/css.js"></script>
  <script src="/vendor/codemirror/javascript.js"></script>
  <!-- <script src="/vendor/codemirror/htmlmixed.js"></script> -->
  <script src="/vendor/codemirror/meta.js"></script>
  <script src="/vendor/codemirror/searchcursor.js"></script>
  <script src="/vendor/codemirror/mark-selection.js"></script>
  <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers: {{.appconfig.Editor.ShowLineNumbers}},
      lineWrapping: {{.appconfig.Editor.WrapLines}},
      mode: "markdown",
      matchBrackets: true,
      lineWrapping: true,
      theme: "monokai",
      styleSelectedText: true,
      autofocus: true,
      extraKeys: {
        "Enter": "newlineAndIndentContinueMarkdownList"
      }
    });
    editor.setSize(null, 450);

    function insertString(str) {
      var selection = editor.getSelection();
      if (selection.length > 0) {
        editor.replaceSelection(str);
      } else {
        var doc = editor.getDoc();
        var cursor = doc.getCursor();
        var pos = {
          line: cursor.line,
          ch: cursor.ch
        }
        doc.replaceRange(str, pos);
      }
    }

    function outlineString(pref, suff) {
      var selection = editor.getSelection();
      if (selection.length > 0) {
        editor.replaceSelection(pref + selection + suff);
      } else {
        var doc = editor.getDoc();
        var cursor = doc.getCursor();
        var pos = {
          line: cursor.line,
          ch: cursor.ch
        }
        doc.replaceRange(pref + ' ' + suff, pos);
      }
    }

    function reloadMedia(path) {
      $.ajax({
        url: "/mediaselect/" + path,
        success: function(result) {
          $("#medialinkData").html(result);
        }
      });
      return false;
    }

    $('#medialinkModal').on('show.bs.modal', function(e) {
      reloadMedia('_');
    });

    function reloadPages(path) {
      $.ajax({
        url: "/pageselect/" + path,
        success: function(result) {
          $("#pagelinkData").html(result);
        }
      });
      return false;
    }

    $('#pagelinkModal').on('show.bs.modal', function(e) {
      reloadPages('_');
    });
  </script>

</body>

</html>
