<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/gokuwiki.css" rel="stylesheet">

</head>

<body style="font-size: {{.base_font_size}}px">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gokuwiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:2em;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pagelist"><i class="fas fa-list"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medialist/_"><i class="fas fa-file"></i> Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagecreo"> <i class="fas fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagesearch"> <i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- tracker -->
  {{ if .showbar }}
  <div class="tracker">
    <div style="flex: 1;align-self:center;">
      {{ range $key, $val := .page_path}}
      <i class="fas fa-chevron-right" style="color: #ccc;"> </i> <a href="/page/{{$key}}">{{$val}}</a>
      {{ end }}
    </div>
    {{ if .hastoc }}
    <div class="button-group">
      <a class="nav-link dropdown-toggle" href="#" id="tocDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-list"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="tocDropdown">
        {{ range .toc}}
        <a href="#{{.Path}}" class="dropdown-item">{{.Level}} {{.Name}}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <a class="nav-link" href="#"> <i class="fas fa-caret-square-up"></i> </a>
    <div class="button-group">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="/pageedit/{{.pagename}}" class="dropdown-item"><i class="fas fa-edit"></i> Edit</a>
        <a href="/pagemove/{{.pagename}}" class="dropdown-item"><i class="fas fa-arrows-alt"></i> Move</a>
        <a href="/pagedel/{{.pagename}}" class="dropdown-item"><i class="fas fa-trash"></i> Delete</a>
        <a href="/reindex/{{.pagename}}" class="dropdown-item"><i class="fas fa-indent"></i> Reindex</a>
        <a href="#" class="dropdown-item"  data-toggle="modal" data-target="#tplModal"><i class="fas fa-save"></i> Save template</a>
      </div>
    </div>
  </div>
  {{ end }}

  <!-- Page Content -->
  <div class="container" style="display: flex; flex-direction: column;align-items: center;margin-top:1.8rem;">
    <!-- content -->
    <div class="row" style="flex-grow: 1;width:100%;">
      <!-- Sidebar Widgets Column -->
      <div class="{{.sidebar_width}}">
        <p>SIDEBAR</p>
      </div>

      <!-- Content Column -->
      <div class="{{.content_width}}">
        <p>{{.content}}</p>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <!-- MODALS -->
  <!-- PAGE LINK -->
  <div class="modal fade" id="tplModal" tabindex="-1" role="dialog" aria-labelledby="tplModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tplModalLabel">Save as template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="tplData">
          <form action="/savetpl" method="POST">
            <input type="hidden" name="pagename" value="{{.pagename}}" />
            <div class="input-group">
              <input type="text" id="tplname" name="tplname" class="form-control" placeholder="Template name"/>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Save</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(function() {
      $('[data-toggle="popover"]').popover()
    })
  </script>
</body>

</html>
