  <div class="container" style="display: flex; flex-direction: column;align-items: left;font-size: 0.9em; ">
    <table class="table table-striped" style="border: none !important;">
      {{ range .pagelist}}
      <tr>
        <td style="border: none !important;">
          {{ if .IsDir }}
          <a href="#" onclick="reloadPages('{{.Path}}')"><b>{{.Name}}</b></a>
          {{ else }}
          {{.Name}}
          {{ end }}
        </td>
        <td style="border: none !important;">
          <a href="#" onclick="insertString('[{{.Name}}]({{.Path}})');return false;" data-dismiss="modal"> <i class="fas fa-external-link-alt"></i></a>
        </td>
      </tr>
      {{ end }}
    </table>
    {{ if .hasback}}
    <div><a href="" onclick="reloadPages('{{.backlink}}');return false;" class="btn btn-primary" style="margin-left:0.5em"><i class="fas fa-level-up-alt"></i></a></div>
    {{ end }}
  </div>