<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/gokuwiki.css" rel="stylesheet">

</head>

<body style="font-size: {{.base_font_size}}px">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gokuwiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:2em;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pagelist"><i class="fas fa-list"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medialist/_"><i class="fas fa-file"></i> Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagecreo"> <i class="fas fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagesearch"> <i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="display: flex; flex-direction: column;align-items: center;">
    <!-- content -->
    <p></p>
    <h4 class="warning" style="flex: 1;align-self:center;text-align:center;">
      Removing page <code>{{.page_path}}</code>. <br />Please confirm operation
    </h4>
    <p></p>
    <div class="row" style="display: flex; flex-direction: row;justify-content: space-between; width:50%;">
      <a href="/del/{{.page_path}}" class="btn btn-primary"><b>Delete</b></a>
      <a href="/page/{{.page_path}}" class="btn btn-primary">Cancel</a>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>