<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/gokuwiki.css" rel="stylesheet">

</head>

<body style="font-size: {{.base_font_size}}px">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gokuwiki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-left:2em;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pagelist"><i class="fas fa-list"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medialist/_"><i class="fas fa-file"></i> Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagecreo"> <i class="fas fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pagesearch"> <i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="display: flex; flex-direction: column;align-items: left;">
    <!-- content -->
    <h4>Settings</h4>
    <div>
      <form action="settings-save" method="POST" style="width: 60%">
        {{ range .settings}}
        <div class="form-group row">
          <label for="{{.Name}}" class="col-sm-3 col-form-label">{{.Placeholder}}</label>
          <div class="col-sm-7">
            {{ if (eq .Type "checkbox")}}
            {{ if (eq .Value "true")}}
            <input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" checked="true" />
            {{else}}
              <input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" />
              {{end}}
              {{else}}
                <input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" value="{{.Value}}" />
                {{end}}
          </div>
        </div>
        {{ end }}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Save</button>
        </span>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>